// font
$font: 'Stem', sans-serif
$font-title: 'Oswald', sans-serif

// colors
$black: #171717
$white: #fff
$white-dark: #E8E8E8
$white-darkest: #A1A1A1
$white-blue: #EDF2F9
$blue-lightest: #E7F3FC
$blue-gray: #7E93B2
$blue-light: #5CB0E8
$blue: #118BDD
$blue-dark: #1D3559
$blue-second: #0B5CA0
$gray-lightest: #D9D9D9
$gray-light: #EAEAEA
$gray: #D8D8D8
$gray-teh: #EDF2F9
$gray-teh-hover: #D3DBE8
$gray-dark: #8B8B8B
$gray-darkest: #808080
$gray-second-light: #EDEBEB
$gray-second: #929292
$yellow: #FEC80B
$orange: #E95A2C
$image-mask: linear-gradient(270deg, rgba(230, 243, 251, .5) 0%, rgba(230, 243, 251, .15) 100%)
$image-mask-mob: linear-gradient(270deg, rgba(230, 243, 251, 0.5) -28.13%, rgba(230, 243, 251, 0) 71.87%)

// screen
$desktop-sm: 1280
$tablet: 1024
$tablet-sm: 768
$tablet-xs: 576
$mobile: 375
