section.best
  .best__bg.slide-right
    img(src=require('@/assets/img/index/best.png') alt="best")
    img(src=require('@/assets/img/index/best-mob.png') alt="best mobile")
    .image-overlay
  .container
    .best__content.slide-up
      h2.section-title.section-title_blue #[span 02] Лучшая техника
      p.best__txt На сегодняшний день «МЗ СОТРАНС» осуществил порядка 90 монтажей различного вида надстроек, таких как: сортиментовозные площадки, бортовые платформы, цистерны, КМУ, ГМУ, портальных погрузчиков.#[br] В своем развитииии производство опирается на накопленный опыт специалистов Группы Компаний работающих в грузовом сегменте 30 лет.
      a.best__link(href="javascript:") Вся продукция


