section.partners
  .container
    .partners__desc
      h2.section-title.slide-right Партнеры
      p.partners__txt.slide-up На сегодняшний день компания является официальным дилером АО «ХИВА РУСЛАНД», Binotto, Hiab, Майкопский машиностроительный завод, NTM.
    ul.partners__list
      each el in partnersList
        li
          img(src=el alt="")
