aside.projects
  .container
    ul.projects__list
      each el in bestList
        li
          span.anim-num #{el.num}
          span #{el.txt}
    p.projects__txt ООО «Механический Завод СОТРАНС» это современный производственный комплекс, оснащенный новейшим оборудованием, распологает огромными площадями для работы и возможностями по выполнению индивидуального заказа.
