section.why
  .container
    h2.section-title.slide-right Почему Механический завод «Сотранс»?
    p.why__txt.slide-left ООО «Механический Завод СОТРАНС» — это современный производственный комплекс, оснащенный новейшим оборудованием, располагающий огромными площадями для работы и обладающий ценным человеческим ресурсом.
    ul.why__list
      each el in whyList
        li
          span !{el.txt}
          span
            img(src=el.icon alt="")
