//- variables
block variables
  include ../../abstracts/variables

//- mixins

doctype html
html(lang="ru")
  head
    include head
  body
    include header
    main
      block content
    include footer
