-
  //- global
  mainModifier = null
  topTitle = null
  topTxt = null
  topBtnMain = null
  breadCrumbsList = null
  callModal = false
  map = false
  txtLink = false
  productSpecs = null
  productSlides = null
  additionalTitle = null
  additionalSubtitle = null
  additionalOptions = null
  additionalDiagram = null
  additionalContentModifier = null
  topSecBreadcrumbs = false
  productTopTitle = null
  productSpecsCallBtn = null
  tabButtons = null
  tabLeftDesc = null
  tabLeftImage = null
  tabLeftVideo = null
  tabRightDesc = null
  tabRightImage = null
  tabRightVideo = null
  additionalEquipment = null
  additionalEquipmentLists = null
  additionalEquipmentImage = null
  additionalEquipmentCaption = null
  additionalDescription = null
  productSpecsMore = null
  productDiagrams = null
  productTopGuarantee = null
  imageModal = false


  //- header
  headerMenu = [
    {
      url: 'about-page.html',
      txt: 'О компании'
    },
    {
      url: 'products.html',
      txt: 'Продукция'
    },
    {
      url: 'production.html',
      txt: 'Производство'
    },
    {
      url: 'remont.html',
      txt: 'Ремонт'
    },
    {
      url: 'dealership.html',
      txt: 'Дилерство'
    },
    {
      url: 'servis-i-garantiya.html',
      txt: 'Гарантия и сервис'
    },
    {
      url: 'news.html',
      txt: 'Новости'
    },
    {
      url: 'contacts.html',
      txt: 'Контакты'
    }
  ]

  //- footer
  footerContactsList = [
    {
      icon: require('@/assets/img/footer/phone.svg'),
      url: 'tel:78124954202',
      txt: '+ 7 (812) 495-42-02'
    },
    {
      icon: require('@/assets/img/footer/phone-white.svg'),
      url: 'tel:79216953701',
      txt: '+ 7 (921) 695 37 01'
    },
    {
      icon: require('@/assets/img/footer/mail.svg'),
      url: 'mailto:info@mz-sotrans.ru',
      txt: 'info@mz-sotrans.ru'
    },
    {
      icon: require('@/assets/img/footer/home.svg'),
      txt: 'п. Красный Бор, ул. Промышленная 3'
    }
  ]

  //- about
  aboutTileItems = [
    {
      num: '17',
      txt: 'проектов <br> завершено',
      img: require('@/assets/img/about/1.jpg'),
    },
    {
      num: '8',
      txt: 'проектов <br> в работе',
      img: require('@/assets/img/about/2.jpg'),
    },
    {
      num: '45',
      txt: 'партнеров',
      img: require('@/assets/img/about/3.jpg'),
    }
  ]

  //- benefits
  benefitsSlides = [
    {
      title: 'Современное оборудование и инструменты',
      txt: 'Современные машины и станки позволяют в считаные минуты справляться с самыми сложными задачами, помогая значительно оптимизировать производство и повышать его производительность',
      img: require('@/assets/img/index/benefits_slides/1.jpg'),
      num: '01'
    },
    {
      title: 'Соответствие мировым стандартам',
      txt: 'Сертификат ISO 9001-2015 № MSNQ.01.A.010104 от 01.04.2021',
      img: require('@/assets/img/index/benefits_slides/2.jpg'),
      num: '02',
      logo: true
    },
    {
      title: 'Качественные комплектующие',
      txt: 'Мы выбрали в качестве партнеров передовых поставщиков, таких как BPW, SAF, Wabco, Jost и др.',
      img: require('@/assets/img/index/benefits_slides/3.jpg'),
      num: '03'
    },
    {
      title: 'Высокая квалификация сотрудников',
      txt: 'Высокая квалификация специалистов помогает освоить современные методы решения сложных задач и ускорить процессы на производстве',
      img: require('@/assets/img/index/benefits_slides/4.jpg'),
      num: '04'
    }
  ]

  //- partners
  partnersList = [
    require('@/assets/img/index/partners/1.png'),
    require('@/assets/img/index/partners/2.png'),
    require('@/assets/img/index/partners/3.svg'),
    require('@/assets/img/index/partners/4.png'),
    require('@/assets/img/index/partners/5.png')
  ]

  //- products
  productsTitleNum = null
  productsTitleTxt = null
  productsList = [
    {
      img: require('@/assets/img/index/products/1.jpg'),
      title: 'Крюковой погрузчик HINO 500',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Длина погрузчика монтажная (L):',
          txt: '5010 мм'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5300 мм'
        }
      ],
      url: 'hook-hino.html'
    },
    {
      img: require('@/assets/img/index/products/2.jpg'),
      title: 'Гидроборт LTK -1000ST/Al',
      options: [
        {
          title: 'Максимальная грузоподъемность',
          txt: '1000 кг на 600 мм'
        },
        {
          title: 'Высота подъема',
          txt: 'до 1250 мм'
        },
        {
          title: 'Размеры грузовой платформы',
          txt: '1700 х 2200 мм'
        }
      ],
      url: 'tail-lift.html'
    },
    {
      img: require('@/assets/img/index/products/3.jpg'),
      title: 'Крюковой погрузчик FAW J6P-390',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-390.html'
    },
    {
      img: require('@/assets/img/index/products/4.jpg'),
      title: 'Бортовая Платформа с КМУ Hyva HB 80 E2',
      options: [
        {
          title: 'Собственный вес',
          txt: '930 кг'
        },
        {
          title: 'Угол поворота',
          txt: '400°'
        },
        {
          title: 'Размеры',
          txt: '2300 х 1940 х 600 мм'
        }
      ],
      url: 'onboard.html'
    }
  ]
  hookLiftsList = [
    {
      img: require('@/assets/img/index/products/hook/1.jpg'),
      title: 'Крюковой погрузчик FAW J6P-390',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-390.html'
    },
    {
      img: require('@/assets/img/index/products/hook/2.jpg'),
      title: 'Крюковой погрузчик HINO 500',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-hino.html'
    },
    {
      img: require('@/assets/img/index/products/hook/3.jpg'),
      title: 'Крюковой погрузчик MAN TGS 33.440',
      options: [
        {
          title: 'Грузоподъёмность номинальная',
          txt: '22 т'
        },
        {
          title: 'Высота крюка',
          txt: '1570 мм (DIN 30722)'
        },
        {
          title: 'Длина погрузчика рабочая (R):',
          txt: '5100 мм'
        }
      ],
      url: 'hook-man.html'
    }
  ]

  //- index news
  newsList = [
    {
      img: require('@/assets/img/index/news/1.jpg'),
      date: '11 янв 2023',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/index/news/2.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/index/news/3.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/index/news/1.jpg'),
      date: '6 июня, 2022',
      title: 'SOTRANS — Эксперты по СПС',
      txt: 'Компания SOTRANS — включена в перечень экспертов по перевозке скоропортящихся пищевых продуктов. Особый статус полномочного эксперта присвоен ООО «Техцентры СОТРАНС» 25 февраля 2022 года. Информация размещена на официальном сайте официальном сайте ФБУ «Росавтотранс»',
      url: 'news-page.html'
    }
  ]

  newsListSecond = [
    {
      img: require('@/assets/img/news/1.jpg'),
      date: '16 янв 2022',
      title: 'Новое оборудование Механического завода СОТРАНС',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/2.jpg'),
      date: '19 дек 2022',
      title: 'Механический Завод СОТРАНС вступил в ассоциацию РОССПЕЦМАШ',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/3.jpg'),
      date: '21 нояб 2022',
      title: 'Новое оборудование Механического завода СОТРАНС',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/2.jpg'),
      date: '19 дек 2022',
      title: 'Механический Завод СОТРАНС вступил в ассоциацию РОССПЕЦМАШ',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/3.jpg'),
      date: '21 нояб 2022',
      title: 'Новое оборудование Механического завода СОТРАНС',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/2.jpg'),
      date: '19 дек 2022',
      title: 'Механический Завод СОТРАНС вступил в ассоциацию РОССПЕЦМАШ',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/3.jpg'),
      date: '21 нояб 2022',
      title: 'Новое оборудование Механического завода СОТРАНС',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/2.jpg'),
      date: '19 дек 2022',
      title: 'Механический Завод СОТРАНС вступил в ассоциацию РОССПЕЦМАШ',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/3.jpg'),
      date: '21 нояб 2022',
      title: 'Новое оборудование Механического завода СОТРАНС',
      url: 'news-page.html'
    },
    {
      img: require('@/assets/img/news/4.jpg'),
      date: '27 окт 2022',
      title: 'Экскурсия студентов Тосненского политехнического техникума',
      url: 'news-page.html'
    }
  ]

  newsSlider = [
    require('@/assets/img/news/slides/1.jpg'),
    require('@/assets/img/news/slides/2.jpg'),
    require('@/assets/img/news/slides/3.jpg'),
    require('@/assets/img/news/slides/4.jpg'),
  ]

  newsListThird = [
    'Длина грузовой платформы — 13 600 мм',
    'Ширина грузовой платформы — 2 470 мм',
    'Высота в свету под крышей — 2 710 мм',
    'Собственная масса — 6650 кг',
    'Оси производства BPW, JOST и SAF',
    'Все элементы рамы оцинкованы методом горячего цинкования в погружных ваннах, изготавливаются из стали с пределом прочности не ниже 690 - 700 МПа',
    'Напольное покрытие рамы выполнено из влагостойкой ламинированной фанеры толщиной 30 мм',
    'Тент крыши и боковых штор выполнены из тканевого полиэстера, покрытого пастой ПВХ.Плотность боковой шторы 850 - 900 г / м2, плотность тента крыши 650 - 680 г / м2',
    'Все прицепы оборудованы тормозной системой EBS Wabco'
  ]

  //- why
  whyList = [
    {
      icon: require('@/assets/img/index/why/1.svg'),
      txt: 'Гарантия'
    },
    {
      icon: require('@/assets/img/index/why/2.svg'),
      txt: '<span>Быстрый</span> <span>ремонт</span>'
    },
    {
      icon: require('@/assets/img/index/why/3.svg'),
      txt: '<span>Оригинальные</span> <span>запчасти</span>'
    },
    {
      icon: require('@/assets/img/index/why/4.svg'),
      txt: '<span>Современные</span> <span>технологии</span>'
    },
    {
      icon: require('@/assets/img/index/why/5.svg'),
      txt: 'Поддержка'
    },
    {
      icon: require('@/assets/img/index/why/6.svg'),
      txt: '<span>Индивидуальный</span> <span>подход</span>'
    }
  ]


  // product page
  hook390Page = {
    slides: [require('@/assets/img/product/hook/slides/1.jpg'), require('@/assets/img/product/hook/slides/2.jpg')],
    specs: [
      {
        name: 'Класс погрузчика',
        value: 'Т22'
      },
      {
        name: 'Грузоподъёмность номинальная ',
        value: '22 т'
      },
      {
        name: 'Длинна погрузчика рабочая (R)',
        value: '5100 мм'
      },
      {
        name: 'Длинна погрузчика монтажная (L)',
        value: '5300 мм'
      },
      {
        name: 'Высота крюка',
        value: '1570 мм (DIN 30722)'
      },
      {
        name: 'Собственный вес',
        value: '2250 кг'
      }
    ],
    additional: [
      {name: 'Мин. внутр. длинна сменного кузова', value: '5000 мм (с гидравлическими замками кузова)'},
      {name: 'Макс. внутр. длинна сменного кузова', value: '6200 мм (свес от края погрузчика — 1384 мм)'},
      {name: 'Расстояние гидравлических замков кузова (D)', value: '620 мм'},
      {name: 'Рабочая ширина опор кузова', value: '1060 мм'},
      {name: 'Высота опор кузова', value: '240 мм'},
      {name: 'Угол опрокидывания', value: '44 с/49c  60 см3/об'},
      {name: 'Время погрузки/опрокидывания кузова', value: '310 бар'},
      {name: 'Рабочее давление гидравлической системы', value: '48°'},
      {name: 'Рекомендуемая подача гидронасоса', value: '61-81 л/мин'},
      {name: 'Рабочее давление пневматической системы', value: '6-8 бар'},
      {name: 'Тип управления', value: 'электрическая система управления'},
      {name: 'Покрытие', value: 'финишная окраска'},
    ],
    diagram: require('@/assets/img/product/hook/hook-390-diagram.jpg')
  }
  hookHino = {
    slides: [require('@/assets/img/product/hook/hino/1.jpg'), require('@/assets/img/product/hook/hino/2.jpg'), require('@/assets/img/product/hook/hino/3.jpg')],
  }
  hookMan = {
    slides: [require('@/assets/img/product/hook/man/1.jpg'), require('@/assets/img/product/hook/man/2.jpg'), require('@/assets/img/product/hook/man/3.jpg')],
  }
  semitrailersCurtain = {
    slides: [
      require('@/assets/img/product/semitrailers/curtain/1.jpg'),
      require('@/assets/img/product/semitrailers/curtain/2.jpg'),
      require('@/assets/img/product/semitrailers/curtain/3.jpg'),
      require('@/assets/img/product/semitrailers/curtain/4.jpg'),
      require('@/assets/img/product/semitrailers/curtain/5.jpg'),
    ],
    specs: [
      {
        name: 'Длинна грузовой платформы',
        value: '13 600 мм'
      },
      {
        name: 'Ширина грузовой платформы',
        value: '2 470 мм'
      },
      {
        name: 'Высота в свету под крышей',
        value: '2 710 мм'
      },
      {
        name: 'Общая длина',
        value: '13 900 мм'
      },
      {
        name: 'Общая ширина',
        value: '2 550 мм'
      },
      {
        name: 'Межосевое расстояние',
        value: '1 310 мм'
      },
      {
        name: 'Допустимый общий вес',
        value: '35 000 кг'
      },
      {
        name: 'Технически возможный общий вес',
        value: '38 000 кг'
      },
      {
        name: 'Общая допустимая нагрузка <br> на осевой агрегат',
        value: '24 000 кг (на каждую ось по 8 000 кг)'
      },
      {
        name: 'Технически возможная нагрузка <br> на агрегат',
        value: '27 000 кг (на каждую ось по 9 000 кг)'
      },
      {
        name: 'Собственный вес в базовой комплектации',
        value: '6 650 кг'
      },
      {
        name: 'Высота седельного устройства',
        value: '1 150 кг'
      },
      {
        name: 'Допустимая нагрузка на седельное устройство',
        value: '11 500 кг'
      }
    ],
    tabLeft: {
      desc: [
        {title: 'Рама шасси', value: 'конструкция из высокопрочной стали Powerweld и Poweform (Россия). Несущие лонжероны двутаврового профиля, интегрированные поперечные траверсы. Рама полностью оцинкована.'},
        {title: 'Агрегат трехосный', value: 'BPW/JOST/SAF/OSMAN KOÇ с пневмоподвеской, тормозные механизмы – дисковые.'},
        {title: 'Тормозная система', value: 'EBS Wabco: двухпроводная, ABS 2S/2M. Розетка ABS 7 контактная.'},
        {title: 'Шкворень', value: 'OMS, 2 дюйма, сменный, тарельчатого типа.'},
        {title: 'Опорное устройство', value: 'BPW/JOST/FUWA, с двухступенчатым редуктором.'},
        {title: 'Электрооборудование', value: 'Ermax, выполнено по двухпроводной схеме'},
        {title: 'Колеса', value: '385/65 R22,5, бескамерные шины с дорожным протектором'},
        {title: 'Кронштейн запасного колеса', value: 'для двух запасных колес (не входят в комплектацию)'},
        {title: 'Боковая защита', value: 'из алюминиевого профиля'},
        {title: 'Напольное покрытие', value: 'водостойкая ламинированная фанера 30 мм. В отбортовке рамы отверстия для крепления груза по всей её длине.'},
      ],
      image: require('@/assets/img/product/semitrailers/curtain/diagram.jpg'),
      video: require('@/assets/video/tab-video.mp4')
    },
    tabRight: {
      desc: [
        {title: 'Тип надстройки', value: 'шторная, со сдвижной конструкцией тента (сдвижная крыша и боковые шторы).'},
        {title: 'Механизм сдвижной крыши и штор', value: 'Versus, с механизмом натяжения тента в задней части'},
        {title: 'Передняя стенка', value: 'алюминиевые наборные профиля, лист фанеры с внутренней стороны.'},
        {title: 'Бортовые стойки', value: 'Adaico, сдвижные'},
        {title: 'Тент боковых штор', value: 'полиэстер покрытый пастой ПВХ плотностью 850-900 г/м2'},
        {title: 'Тент крыши', value: 'светопроникающий материал белого цвета, плотностью 650-680 г/м2'},
        {title: 'Дверной портал', value: 'оцинкованная сталь, имеет роликовые демпферы'},
        {title: 'Двери распашные', value: 'HESTAL, двухстворчатые, с углом открывания 270°. Дверное полотно — наборный алюминий.'},
      ],
      image: require('@/assets/img/product/semitrailers/curtain/tab-image.jpg')
    },
    optional: [
      {image: require('@/assets/img/product/semitrailers/curtain/optional-1.jpg'), txt: 'Выдвижная оцинкованная лестница'},
      {image: require('@/assets/img/product/semitrailers/curtain/optional-2.jpg'), txt: 'Инструментальный пластиковый ящик'},
      {image: require('@/assets/img/product/semitrailers/curtain/optional-3.jpg'), txt: '4 пластиковых крыла с брызговиками'},
      {image: require('@/assets/img/product/semitrailers/curtain/optional-4.jpg'), txt: 'Кронштейн для подключения тормозной и осветительной системы в передней части шасси'}
    ]
  }
  tailLift = {
    slides: [require('@/assets/img/product/hook/tail-lift/1.jpg'), require('@/assets/img/product/hook/tail-lift/2.jpg'), require('@/assets/img/product/hook/tail-lift/3.jpg'), require('@/assets/img/product/hook/tail-lift/4.jpg')],
    specs: [
      {
        name: 'Максимальная грузоподъемность',
        value: '1000 кг на 600 мм'
      },
      {
        name: 'Материал грузовой платформы',
        value: 'алюминий'
      },
      {
        name: 'Размеры грузовой платформы',
        value: '1700  х 2200 мм'
      },
      {
        name: 'Высота подъема',
        value: 'до 1250 мм'
      },
      {
        name: 'Питание от сети',
        value: '24 В'
      }
    ],
    equipment: {
      lists: [
        {
          title: 'Подъёмный механизм: четырех цилиндровый, 2 опускания, 2 на поворот',
          items: [
            'Четырехкнопочное(основное) управление на гидростанции под герметичной крышкой',
            'Вспомогательный пульт двухкнопочный выносной, на кабеле',
            'Гидравлический агрегат, защищённый в алюминиевом корпусе',
            'Подъёмный механизм оцинкованный, обработка — горячее оцинкование',
            'Подшипники, не требующие частого обслуживания, с возможностью смазывания',
            'Гидравлические цилиндры с защитными кожухами',
            'Гидравлические шланги с механическим клапаном разрыва.Автоматический наклон к земле при помощи механического шарнира',
            'Быстрый монтаж — минимум слесарных работ',
            'Противоподкатный брус из 3 - х сварных частей',
            'Сертификат соответствия',
            'Поставляется в собранном состоянии, с маслом в системе и проверен'
          ]
        }  ,
        {
          title: 'Алюминиевая платформа — высота 1700 мм, ширина 2200 мм',
          items: [
            'Профиль кромки: стандартный',
            'Рольстопы: да',
            'Поверхность платформы: без обработки (не аннодированная)'
          ]
        },
        {
          title: 'Силовой кабель плюс/минус 25 мм² x 12000мм, с раздельным предохранителем'
        },
        {
          title: 'Гидравлическое масло, биологически расщепляемое, для работы при низких температурах до -30°C'
        }
      ]
    }
  }

  vansGoods = {
    slides: [require('@/assets/img/product/vans/goods/1.jpg'), require('@/assets/img/product/vans/goods/2.jpg'), require('@/assets/img/product/vans/goods/3.jpg')],
    specs: [
      {
        name: 'Габаритные размеры',
        value: '6400х2550х2500'
      },
      {
        name: 'Облицовка наружная',
        value: 'плакированный металл'
      },
      {
        name: 'Облицовка внутренняя',
        value: 'обрешетка в 3 ряда'
      },
      {
        name: 'Пол',
        value: 'платформа снизу защищена оцинкованным листом от агрессивного воздействия дороги, покрытие пола — транспортная фанера'
      },
      {
        name: 'Передняя стенка',
        value: 'оцинкованный лист'
      },
      {
        name: 'Крыша',
        value: 'металлический каркас с ребрами жёсткости, оцинкованный металл'
      },
      {
        name: 'Задние двери',
        value: 'плакированный металл'
      },
      {
        name: 'Фурнитура',
        value: 'оцинкованная, штангового типа, 3 петли на дверь'
      },
      {
        name: 'Обвязка кузова',
        value: 'алюминиевый уголок'
      },
      {
        name: 'Задний портал',
        value: '3мм, оцинкованный металл'
      },
      {
        name: 'Оборудование',
        value: 'крылья с брызговиками, боковая защита, гидроборт 1500кг алюминиевый, внутренне освещение'
      }
    ],
    description: [
      'Промтоварный фургон представляет собой каркас из скругленной профильной трубы и обшитый снаружи плакированным металлом белого цвета.Стыки обрамлены алюминиевыми уголками.Установлены габаритные огни согласно нормам(оранжевые в продольной плоскости, белые в передней части сверху, красные — в задней части сверху), подключены к штатной системе автомобиля.Внутри фургона установлена светодиодная лампа, включаемая из кабины автомобиля.Задние ворота представляют собой каркас из профильной трубы с закладными для установки фурнитуры и обшитые с наружной стороны плакированным металлом.',
      'Внутри на пол уложен оцинкованный металл, 18 мм ламинированная транспортная фанера.Подрамник изготовлен из П - образного профиля и поперечными траверсами.Все элементы металлоконструкции прошли соответствующую подготовку и окраску.',
      'В задней части установлен Гидравлический борт, грузоподъемностью 1500кг, производства ATEK(Турция).'
    ]
  }
  vansTech = {
    slides: [
      require('@/assets/img/product/vans/tech/1.jpg'),
      require('@/assets/img/product/vans/tech/2.jpg'),
      require('@/assets/img/product/vans/tech/3.jpg'),
      require('@/assets/img/product/vans/tech/4.jpg'),
      require('@/assets/img/product/vans/tech/5.jpg'),
      require('@/assets/img/product/vans/tech/6.jpg')
    ],
    specs: [
      {
        name: 'Габаритные размеры фургона',
        value: '4500х2377х2167'
      },
      {
        name: 'Фурнитура',
        value: 'нержавеющая, штангового типа, 3 петли на дверь'
      },
      {
        name: 'Обвязка фургона',
        value: 'алюминиевый уголок'
      },
      {
        name: 'Задний портал',
        value: '3мм, нержавеющая сталь'
      },
      {
        name: 'Боковые люки',
        value: 'алюминиевые рулонные двери. Размер двери 1100×1500 мм.'
      },
      {
        name: 'Освещение отсека',
        value: '2 светодиодных светильника, работающие от бортовой сети автомобиля, 12В'
      },
      {
        name: 'Стены/крыша, задние двери',
        value: 'состоят из следующих слоев:<br>1. Пластик белого цвета<br>2. Влагостойка фанера<br>3. Пенополиуретан<br>4. Влагостойка фанера<br>5. Пластик белого цвета'
      },
      {
        name: 'Пол',
        value: 'состоит из следующих слоев:<br>1. Алюминиевый рифленый лист с отбортовкой<br>2. Влагостойка фанера<br>3. Пенополиуретан<br>4. Влагостойка фанера<br>5. Пластик белого цвета'
      },
      {
        name: 'Передняя стенка',
        value: 'состоит из следующих слоев:<br>1. Алюминиевый рифленый лист<br>2. Влагостойка фанера<br>3. Пенополиуретан<br>4. Влагостойка фанера<br>5. Пластик белого цвета'
      }
    ],
    tabLeft: {
      desc: [
        {
          title: 'Рама шасси',
          value: 'конструкция из высокопрочной стали Powerweld и Poweform (Россия). Несущие лонжероны двутаврового профиля, интегрированные поперечные траверсы. Рама полностью оцинкована.'
        },
        {
          title: 'Агрегат трехосный',
          value: 'BPW/JOST/SAF/OSMAN KOÇ с пневмоподвеской, тормозные механизмы – дисковые.'
        },
        {title: 'Тормозная система', value: 'EBS Wabco: двухпроводная, ABS 2S/2M. Розетка ABS 7 контактная.'},
        {title: 'Шкворень', value: 'OMS, 2 дюйма, сменный, тарельчатого типа.'},
        {title: 'Опорное устройство', value: 'BPW/JOST/FUWA, с двухступенчатым редуктором.'},
        {title: 'Электрооборудование', value: 'Ermax, выполнено по двухпроводной схеме'},
        {title: 'Колеса', value: '385/65 R22,5, бескамерные шины с дорожным протектором'},
        {title: 'Кронштейн запасного колеса', value: 'для двух запасных колес (не входят в комплектацию)'},
        {title: 'Боковая защита', value: 'из алюминиевого профиля'},
        {
          title: 'Напольное покрытие',
          value: 'водостойкая ламинированная фанера 30 мм. В отбортовке рамы отверстия для крепления груза по всей её длине.'
        },
      ],
    },
    tabRight: {
      desc: [
        {title: 'Тип надстройки', value: 'шторная, со сдвижной конструкцией тента (сдвижная крыша и боковые шторы).'},
        {title: 'Механизм сдвижной крыши и штор', value: 'Versus, с механизмом натяжения тента в задней части'},
        {title: 'Передняя стенка', value: 'алюминиевые наборные профиля, лист фанеры с внутренней стороны.'},
        {title: 'Бортовые стойки', value: 'Adaico, сдвижные'},
        {title: 'Тент боковых штор', value: 'полиэстер покрытый пастой ПВХ плотностью 850-900 г/м2'},
        {title: 'Тент крыши', value: 'светопроникающий материал белого цвета, плотностью 650-680 г/м2'},
        {title: 'Дверной портал', value: 'оцинкованная сталь, имеет роликовые демпферы'},
        {
          title: 'Двери распашные',
          value: 'HESTAL, двухстворчатые, с углом открывания 270°. Дверное полотно — наборный алюминий.'
        },
      ],
    },
  }
  onboard = {
    slides: [require('@/assets/img/product/hook/onboard/1.jpg'), require('@/assets/img/product/hook/onboard/2.jpg'), require('@/assets/img/product/hook/onboard/3.jpg'), require('@/assets/img/product/hook/onboard/4.jpg')],
    specs: [
      {
        name: 'Грузовой момент, Т.м.',
        value: '8'
      },
      {
        name: 'Максимальный  вертикальный вылет',
        value: '10,2 м'
      },
      {
        name: 'Угол поворота',
        value: '4000'
      },
      {
        name: 'Время оборота',
        value: '15 c'
      },
      {
        name: 'Рабочее давление',
        value: '285 бар'
      },
      {
        name: 'Собственный вес',
        value: '930 кг'
      },
      {
        name: 'Объем гидробака',
        value: '35 л'
      },
      {
        name: 'Расход масла',
        value: '20 л/мин'
      },
      {
        name: 'Размеры',
        value: '2300х1940х600 мм'
      },
      {
        name: 'Максимальный вылет стрелы',
        value: '7,05 м'
      },
      {
        name: 'Грузоподъемность при максимальном вылете стрелы',
        value: '1050 кг'
      },
    ],
    equipment: {
      lists: [
        {
          items: [
            'Вес крана 1030 кг',
            'Масляный бак',
            'Монтажный комплект',
            'Ручные поворотные опоры 4, 60 м',
            'Крюк',
            'Гидравлическая система защиты от перегрузки'
          ]
        }
      ],
      image: require('@/assets/img/product/hook/onboard/diagram.jpg'),
      caption: [
        'Максимальный вылет стрелы: 7, 05 м',
        'Грузоподъемность при максимальном вылете стрелы: 1050 кг'
      ]
    },
    diagrams: [
      require('@/assets/img/product/hook/onboard/1.png'),
      require('@/assets/img/product/hook/onboard/2.png'),
      require('@/assets/img/product/hook/onboard/3.png'),
      require('@/assets/img/product/hook/onboard/4.png')
    ],
    platform: [
      {name: 'Подрамник и основание', value: 'cварной'},
      {name: 'Передняя стенка', value: 'алюминиевый борт высотой 400 мм'},
      {name: 'Боковые стенки', value: 'алюминиевый, откидывающийся съемный борт  разделен на 2 секции. Высота 400 мм'},
      {name: 'Настил пола', value: 'транспортная фанера с противоскользящим покрытием 21 мм'},
      {name: 'Задний проём', value: 'алюминиевый, откидывающийся, съемный борт высотой 400мм'},
      {name: 'Электрооборудование', value: 'габаритные, боковые, контурные, светодиодные огни оранжевого цвета'},
    ]
  }

  //- products
  specialList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/special/1.svg'),
      txt: 'Бортовая платформа с КМУ',
      url: 'onboard.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/special/3.svg'),
      txt: 'Крюковой погрузчик',
      url: 'hooklifts.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/special/2.svg'),
      txt: 'Гидроборт',
      url: 'tail-lift.html  '
    },
    {
      image: require('@/assets/img/global/vector-right-wgite-lg.svg'),
      txt: 'Фургоны',
      url: 'vans.html',
      link: true
    }
  ]
  semitrailerList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/semitrailers/1.svg'),
      txt: 'Шторные полуприцепы',
      url: 'semitrailers-curtain.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/semitrailers/2.svg'),
      txt: 'Рефриджераторы полуприцепы',
      url: 'javascript:'
    }
  ]
  vansList = [
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/vans/1.svg'),
      txt: 'Промтоварные фургоны',
      url: 'vans-goods.html'
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/vans/2.svg'),
      txt: 'Автомобили технической помощи',
      url: 'vans-tech.html  '
    },
    {
      image: require('!svg-inline-loader?removeSVGTagAttrs=false!@/assets/img/products/vans/3.svg'),
      txt: 'Изометрические фургоны',
      url: 'javascript:',
      new: true
    }
  ]

  //- contacts
  contactsInfo = [
    {
      icon: require('@/assets/img/contacts/phone.svg'),
      url: 'tel:+78124954202',
      txt: '+7 (812) 495-42-02'
    }, {
      icon: require('@/assets/img/contacts/tg.svg'),
      iconSecond: require('@/assets/img/contacts/whatsapp.svg'),
      url: 'tel:+79216953701',
      txt: '+ 7 (921) 695-37-01'
    },
    {
      icon: require('@/assets/img/contacts/mail.svg'),
      url: 'mailto:support@sotrans.ru',
      txt: 'support@sotrans.ru'
    },
    {
      icon: require('@/assets/img/contacts/address.svg'),
      txt: 'Лен. область, Тосненский р-н,<br>пгт Красный Бор,<br>ул. Промышленная, д. 3'
    },
  ]
  contactsGrid = [
    {
      img: require('@/assets/img/contacts/2.jpg'),
      position: 'отдел продаж',
      name: 'Филиппов <br> Дмитрий Сергеевич',
      phoneTxt: '+7 (921) 886-93-59',
      phoneNumber: '+79218869359',
      mail: 'd.filippov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/2.jpg'),
      position: 'руководитель отдела закупок',
      name: 'Романов <br> Алексей Сергеевич',
      phoneTxt: '+7 (921) 705-87-42',
      phoneNumber: '+79217058742',
      mail: 'a.romanov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/3.jpg'),
      position: 'генеральный директор',
      name: 'Бобков <br> Иван Александрович',
      phoneTxt: '+7 (931) 304-44-82',
      phoneNumber: '+79313044482',
      mail: 'i.bobkov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/4.jpg'),
      position: 'операционный директор',
      name: 'Ильин <br> Алексей Александрович',
      phoneTxt: '+7 (921) 942-62-84',
      phoneNumber: '+79219426284',
      mail: 'a.ilyin@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/5.jpg'),
      position: 'технический директор направления спецтехники',
      name: 'Марченко <br> Игорь Олегович',
      phoneTxt: '+7 (921) 863-48-07',
      phoneNumber: '+79218634807',
      mail: 'i.marchenko@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/6.jpg'),
      position: 'технический директор направления полуприцепов',
      name: 'Охотников <br> Руслан Робертович',
      phoneTxt: '+7 (995) 997-05-14',
      phoneNumber: '+79959970514',
      mail: 'r.ohotnikov@sotrans.ru'
    },
    {
      img: require('@/assets/img/contacts/7.jpg'),
      position: 'начальник производства',
      name: 'Горохов <br> Сергей Евгеньевич',
      phoneTxt: '+7 (921) 439-38-47',
      phoneNumber: '+79214393847',
      mail: 's.gorokhov@sotrans.ru'
    }
  ]

  //- pagination
  paginationList = [1, 2, 3, 4, 5]

  //- nums
  numsItems = [
    {
      num: '<span class="anim-num">20000</span> м<sup>2</sup>',
      txt: '<span>производственная</span> <span>площадь</span>'
    },
    {
      num: '<span class="anim-num">50</span>+',
      txt: '<span>произведено</span> <span>прицепов</span>'
    },
    {
      num: '<span class="anim-num">100</span>+',
      txt: '<span>монтажей</span> <span>надстроек</span>'
    },
    {
      num: '<span class="anim-num">5</span>',
      txt: '<span>производственных</span> <span>линий</span>'
    }
  ]

  //- production
  productionAboutItems = [
    'В настоящее время заканчивается строительство двух дополнительных пролетов с целью увеличения эффективной производственной площади <strong>до 20 тыс. кв. м.</strong>',
    'Полуприцепы и спецтехника разработаны нашими инженерами, конструкторами и технологами с учетом опыта передовых конструкторских и технологических решений, и ни в чем не уступают ранее доступным на рынке РФ зарубежным аналогам.',
    'В рамках завода организовано серийное тактовое производство полного цикла по металлоконструкциям полуприцепов и надстройкам шасси.'
  ]

  blankSlides = [
    require('@/assets/img/production/first-slider/1.jpg'),
    require('@/assets/img/production/first-slider/2.jpg'),
    require('@/assets/img/production/first-slider/3.jpg')
  ]

  assemblySlides = [
    require('@/assets/img/production/second-slider/1.jpg'),
    require('@/assets/img/production/second-slider/2.jpg'),
    require('@/assets/img/production/second-slider/3.jpg'),
    require('@/assets/img/production/second-slider/4.jpg'),
    require('@/assets/img/production/second-slider/5.jpg')
  ]

  assemblyList = [
    'сборка рамы полуприцепа',
    'монтаж систем электрики и пневматики',
    'установка передней стенки, ворот, боковых стоек, крыши',
    'настил пола',
    'изготовление и монтаж тента',
    'финальные регулировки'
  ]

  asideList = [
    {
      icon: require('@/assets/img/production/icons/hand.svg'),
      txt: 'На каждом участке ведется межоперационный <span>контроль качества</span>'
    },
    {
      icon: require('@/assets/img/production/icons/cert.svg'),
      txt: 'Наша продукция прошла испытания и имеет все необходимые <span>сертификаты качества</span>'
    },
    {
      icon: require('@/assets/img/production/icons/gear.svg'),
      txt: 'В изготовлении используются комплектующие <span>ведущих мировых производителей</span>'
    }
  ]

  //- about
  aboutSlides = [
    {
      image: require('@/assets/img/about-page/slides/1.jpg'),
      title: 'Шторные полуприцепы',
      url: 'semitrailers-curtain.htmk'
    },
    {
      image: require('@/assets/img/about-page/slides/2.jpg'),
      title: 'Прицепы-рефрижераторы',
      url: 'dev-page.html'
    },
    {
      image: require('@/assets/img/about-page/slides/3.jpg'),
      title: 'Крюковые погрузчики',
      url: 'products.html'
    },
    {
      image: require('@/assets/img/about-page/slides/4.jpg'),
      title: 'Бортовые платформы с КМУ',
      url: 'onboard.html'
    },
    {
      image: require('@/assets/img/about-page/slides/5.jpg'),
      title: 'Автомобили с гидробортами',
      url: 'tail-lift.html'
    }
  ]

  //- dealership
  dealershipList = [
    {
      image: require('@/assets/img/dealership/1.png'),
      title: 'HYVA (Нидерланды)',
      txt: 'Гидроманипуляторы, крано-манипуляторные установки, крюковые погрузчики',
      url: 'javascript:',
      urlTxt: 'hyva.com'
    },
    {
      image: require('@/assets/img/dealership/2.svg'),
      title: 'HIAB (Швеция)',
      txt: 'Гидроманипуляторы, крано-манипуляторные установки, крюковые погрузчики',
      url: 'javascript:',
      urlTxt: 'hiab.com/ru'
    },
    {
      image: require('@/assets/img/dealership/3.png'),
      title: 'Майкопский машиностроительный завод (Россия)',
      txt: 'Гидроманипуляторы различного назначения',
      url: 'javascript:',
      urlTxt: 'maykop-mmz.com'
    },
    {
      image: require('@/assets/img/dealership/4.svg'),
      title: 'ATEK (Турция)',
      txt: 'Гидроборта',
      url: 'javascript:',
      urlTxt: 'ateklift.com/en/'
    },
    {
      image: require('@/assets/img/dealership/5.svg'),
      title: 'AHT (Австрия)',
      txt: 'Гидроборта',
      url: 'javascript:',
      urlTxt: 'aht-liftgates.com'
    },
  ]

  //- terms
  termsList = [
    {
      title: '1. ОБЩИЕ ПОЛОЖЕНИЯ',
      txt: [
        '1.1. Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту Интернет-ресурса «MZ.SOTRANS», расположенному в сети Интернет по адресу: www.mz.sotrans.ru, и ко всем соответствующим сайтам, связанным с сайтом www.mz.sotrans.ru, в том числе сайтам с доменным именем mz.sotrans.ru второго или третьего уровня.',
        '1.2. Сайт Интернет-ресурса «MZ.SOTRANS» (далее – Сайт) является собственностью ООО «СОТРАНС».',
        '1.3. Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-ресурса «MZ.SOTRANS» (далее – Администрация сайта) и Пользователем данного Сайта.',
        '1.4. Администрация сайта оставляет за собой право в любое время изменять, добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.',
        '1.5. Продолжение использования Сайта Пользователем означает принятие Соглашения и изменений, внесенных в настоящее Соглашение.',
        '1.6. Пользователь несет персональную ответственность за проверку настоящего Соглашения на наличие изменений в нем.'
      ]
    },
    {
      title: '2. ОПРЕДЕЛЕНИЯ ТЕРМИНОВ',
      txt: [
        '2.1. Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:',
        '2.1.1 «MZ.SOTRANS» – Интернет-ресурс, расположенный на доменном имени www.mz.sotrans.ru, осуществляющий свою деятельность посредством Интернет-ресурса и сопутствующих ему сервисов.',
        '2.1.2. Интернет-ресурс – сайт, содержащий информацию о Товарах, Продавце, позволяющий осуществить выбор, заказ и (или) приобретение Товара.',
        '2.1.3. Администрация сайта Интернет-ресурса – уполномоченные сотрудники на управления Сайтом, действующие от имени ООО «СОТРАНС».',
        '2.1.4. Пользователь сайта Интернет-ресурса (далее ‑ Пользователь) – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.',
        '2.1.5. Содержание сайта Интернет-ресурса (далее – Содержание) - охраняемые результаты интеллектуальной деятельности, включая тексты литературных произведений, их названия, предисловия, аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без текста, графические, текстовые, фотографические, производные, составные и иные произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор, координация, внешний вид, общий стиль и расположение данного Содержания, входящего в состав Сайта и другие объекты интеллектуальной собственности все вместе и/или по отдельности, содержащиеся на сайте Интернет-ресурса.'
      ]
    },
    {
      title: '3. ПРЕДМЕТ СОГЛАШЕНИЯ',
      txt: [
        '3.1.Предметом настоящего Соглашения является предоставление Пользователю Интернет - ресурса доступа к содержащимся на Сайте Товарам и оказываемым услугам.,',
        '3.1.1.Интернет - ресурс предоставляет Пользователю следующие виды услуг(сервисов):',
        '• доступ к электронному контенту на постоянной основе, с правом приобретения (скачивания), просмотра контента;',
        '• доступ к средствам поиска и навигации Интернет-ресурса;',
        '• предоставление Пользователю возможности размещения сообщений, комментариев, рецензий Пользователей, выставления оценок контенту Интернет-ресурса;',
        '• доступ к информации о Товаре и к информации о приобретении Товара на постоянной основе;',
        '• иные виды услуг (сервисов), реализуемые на страницах Интернет-ресурса, включая платные услуги (сервисы).',
        '3.1.2. Под действие настоящего Соглашения подпадают все существующие (реально функционирующие) на данный момент услуги (сервисы) Интернет-ресурса, а также любые их последующие модификации и появляющиеся в дальнейшем дополнительные услуги (сервисы) Интернет-ресурса.',
        '3.2. Доступ к Интернет-ресурсу предоставляется на постоянной основе.',
        '3.3. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь считается присоединившимся к настоящему Соглашению.',
        '3.4. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации'
      ]
    },
    {
      title: '4. ПРАВА И ОБЯЗАННОСТИ СТОРОН',
      txt: [
        '4.1. Администрация сайта вправе:',
        '4.1.1. Изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.',
        '4.1.2. Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего Соглашения.',
        '4.1.3. Изменять размер оплаты, взимаемый за предоставление доступа к использованию сайта Интернет-ресурса. Изменение стоимости не будет распространяться на Пользователей, имеющих регистрацию к моменту изменения размера оплаты, за исключением случаев, особо оговоренных Администрацией сайта интернет-ресурса.',
        '4.1.4. Собирать, анализировать, использовать, делиться (в том числе на платной основе) информацией о Пользователе, содержащейся на Сайте, включая, но не ограничиваясь, информацией о контактных и личных данных Пользователя, информацией о действиях Пользователя на Сайте и.т.д.',
        '4.2. Пользователь вправе:',
        '4.2.1. Получить доступ к использованию Сайта.',
        '4.2.2. Пользоваться всеми имеющимися на Сайте услугами, а также приобретать любые Товары, предлагаемые на Сайте.',
        '4.2.3. Задавать любые вопросы, относящиеся к услугам Интернет-ресурса по реквизитам, которые находятся в разделе Сайта «Контакты».',
        '4.2.4. Пользоваться Сайтом исключительно в целях и порядке, предусмотренных Соглашением и не запрещенных законодательством Российской Федерации.',
        '4.3. Пользователь Сайта обязуется:',
        '4.3.1. Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сайта.',
        '4.3.2. Соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сайта.',
        '4.3.3. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сайта.',
        '4.3.4. Не распространять с использованием Сайта любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.',
        '4.3.5. Избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством Российской Федерации информации.',
        '4.3.6. Не использовать Сайт для распространения информации рекламного характера, иначе как с согласия Администрации сайта.',
        '4.3.7. Не использовать сервисы сайта Интернет-ресурса с целью:',
        '4.3.7. 1. загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.',
        '4.3.7. 2. побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Российской Федерации.',
        '4.3.7. 3. нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.',
        '4.3.7. 4. ущемления прав меньшинств.',
        '4.3.7. 5. представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав, в том числе за сотрудников данного Интернет-ресурса.',
        '4.3.7. 6. введения в заблуждение относительно свойств и характеристик какого-либо Товара из каталога Интернет-ресурса, размещенного на Сайте.',
        '4.3.7. 7. некорректного сравнения Товара, а также формирования негативного отношения к лицам, (не) пользующимся определенными Товарами, или осуждения таких лиц.',
        '4.4. Пользователю запрещается:',
        '4.4.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта данного Интернет-ресурса;',
        '4.4.2. Нарушать надлежащее функционирование Сайта;',
        '4.4.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;',
        '4.4.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;',
        '4.4.4. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.',
        '4.4.5. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.',
        '4.4.6. Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права интернет-ресурса или других лиц.'
      ]
    },
    {
      title: '5. ИСПОЛЬЗОВАНИЕ САЙТА ИНТЕРНЕТ-РЕСУРСА',
      txt: [
        '5.1. Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется Администрацией сайта.',
        '5.2. Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или распространено любым способом, а также размещено в глобальной сети «Интернет» без предварительного письменного согласия Администрации сайта.',
        '5.3. Содержание Сайта защищено авторским правом, законодательством о товарных знаках, а также другими правами, связанными с интеллектуальной собственностью, и законодательством о недобросовестной конкуренции.',
        '5.4. При использовании некоторых сервисов сайта, может потребоваться создание учётной записи Пользователя.',
        '5.5. Пользователь несет персональную ответственность за сохранение конфиденциальности информации учётной записи, включая пароль, а также за всю без исключения деятельность, которая ведётся от имени Пользователя учётной записи.',
        '5.6. Пользователь должен незамедлительно уведомить Администрацию сайта о несанкционированном использовании его учётной записи или пароля или любом другом нарушении системы безопасности.',
        '5.7. Администрация сайта обладает правом в одностороннем порядке аннулировать учетную запись Пользователя, если она не использовалась более 12 (двенадцати) календарных месяцев подряд без уведомления Пользователя.',
        '5.7. Настоящее Соглашение распространяет свое действия на все дополнительные положения и условия о покупке Товара и оказании услуг, предоставляемых на Сайте.',
        '5.8. Информация, размещаемая на Сайте не должна истолковываться как изменение настоящего Соглашения.',
        '5.9. Администрация сайта имеет право в любое время без уведомления Пользователя вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) в цены, применимые к таким Товарам по их реализации и (или) оказываемым услугам Интернет-ресурсом.',
        '5.10. . Документы, перечисленные в п.п 5.10.1 – 5.10.4 являются неотъемлемой частью настоящего Соглашения если они размещены на сайте или интегрированы в пользовательский интерфейс сайта www.mz.sotrans.ru. В настоящее Соглашение включены следующие документы:',
        '5.10.1. Политика конфиденциальности;',
        '5.10.2. Договор купли-продажи товаров дистанционным способом;',
        '5.10.3. Заявка на оформление заказа;',
        '5.10.4. Предложения и замечания.',
        '5.11. Любой из документов, перечисленных в пункте 5.10. настоящего Соглашения может подлежать обновлению. Изменения вступают в силу с момента их опубликования на Сайте.'
      ]
    },
    {
      title: '6. ОТВЕТСТВЕННОСТЬ',
      txt: [
        '6.1. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Администрацией сайта не возмещаются.',
        '6.2. Администрация сайта не несет ответственности за:',
        '6.2.1. Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.',
        '6.2.2. Действия систем переводов, банков, платежных систем и за задержки связанные с их работой.',
        '6.2.3. Надлежащее функционирование Сайта, в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.',
        '6.2.4. Содержание (контент) информации размещенной на Сайте.',
        '6.3. Пользователь самостоятельно несет ответственность за интерпретацию и использование контента (информации), размещенного на Сайте.'
      ]
    },
    {
      title: '7. НАРУШЕНИЕ УСЛОВИЙ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ',
      txt: [
        '7.1. Администрация сайта вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.',
        '7.2. Администрация сайта имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности название организации, Пользователей.',
        '7.3. Администрация сайта имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.',
        '7.4. Администрация сайта вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.',
        '7.5. Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.',
      ]
    },
    {
      title: '8. РАЗРЕШЕНИЕ СПОРОВ',
      txt: [
        '8.1. В случае возникновения любых разногласий или споров между Сторонами настоящего Соглашения обязательным условием до обращения в суд является предъявление претензии (письменного предложения о добровольном урегулировании спора).',
        '8.2. Получатель претензии в течение 14 (четырнадцати) календарных дней со дня ее получения, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.',
        '8.3. При невозможности разрешить спор в добровольном порядке любая из Сторон вправе обратиться исходя из правил о подведомственности в Арбитражный суд города Санкт-Петербурга и Ленинградской области, либо в Тосненский городской суд Ленинградской области, либо в Судебный участок № 71 Ленинградской области (Тосненский муниципальный район) за защитой своих прав, которые предоставлены им действующим законодательством Российской Федерации.',
        '8.4. Любой иск в отношении условий использования Сайта должен быть предъявлен в течение срока после возникновения оснований для иска, за исключением защиты авторских прав на охраняемые в соответствии с законодательством материалы Сайта. При нарушении условий данного пункта любой иск или основания для иска погашаются исковой давностью.'
      ]
    },
    {
      title: '9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ',
      txt: [
        '9.1. Администрация сайта не принимает встречные предложения от Пользователя относительно изменений настоящего Пользовательского соглашения.',
        '9.2. Отзывы Пользователя, размещенные на Сайте, не являются конфиденциальной информацией и могут быть использованы Администрацией сайта без ограничений.'
      ]
    }
  ]

  //- policy
  policyList = [
    {
      title: '1. Общие положения',
      txt: [
        'Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» (далее - Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые ООО "СОТРАНС" (далее – Оператор).',
        '1.1. Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.',
        '1.2. Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта https://mz.sotrans.ru.'
      ]
    },
    {
      title: '2. Основные понятия, используемые в Политике',
      txt: [
        '2.1. Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники.',
        '2.2. Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных).',
        '2.3. Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://mz.sotrans.ru.',
        '2.4. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств.',
        '2.5. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных.',
        '2.6. Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.',
        '2.7. Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.',
        '2.8. Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб сайта https://mz.sotrans.ru.',
        '2.9. Персональные данные, разрешенные субъектом персональных данных для распространения, - персональные данные, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных путем дачи согласия на обработку персональных данных, разрешенных субъектом персональных данных для распространения в порядке, предусмотренном Законом о персональных данных (далее - персональные данные, разрешенные для распространения).',
        '2.10. Пользователь – любой посетитель веб-сайта https://mz.sotrans.ru.',
        '2.11. Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.',
        '2.12. Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом.',
        '2.13. Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу.',
        '2.14. Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.',
      ]
    },
    {
      title: '3. Основные права и обязанности Оператора',
      txt: [
        '3.1. Оператор имеет право:',
        '– получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;',
        '– в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;',
        '– самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами.',
        '3.2. Оператор обязан:',
        '– предоставлять субъекту персональных данных по его просьбе информацию, касающуюся обработки его персональных данных;',
        '– организовывать обработку персональных данных в порядке, установленном действующим законодательством РФ;',
        '– отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных;',
        '– сообщать в уполномоченный орган по защите прав субъектов персональных данных по запросу этого органа необходимую информацию в течение 30 дней с даты получения такого запроса;',
        '– публиковать или иным образом обеспечивать неограниченный доступ к настоящей Политике в отношении обработки персональных данных;',
        '– принимать правовые, организационные и технические меры для защиты персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных;',
        '– прекратить передачу (распространение, предоставление, доступ) персональных данных, прекратить обработку и уничтожить персональные данные в порядке и случаях, предусмотренных Законом о персональных данных;',
        '– исполнять иные обязанности, предусмотренные Законом о персональных данных.'
      ]
    },
    {
      title: '4. Основные права и обязанности субъектов персональных данных',
      txt: [
        '4.1. Субъекты персональных данных имеют право:',
        '– получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;',
        '– требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;',
        '– выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг;',
        '– на отзыв согласия на обработку персональных данных;',
        '– обжаловать в уполномоченный орган по защите прав субъектов персональных данных или в судебном порядке неправомерные действия или бездействие Оператора при обработке его персональных данных;',
        '– на осуществление иных прав, предусмотренных законодательством РФ.',
        '4.2. Субъекты персональных данных обязаны:',
        '– предоставлять Оператору достоверные данные о себе;',
        '– сообщать Оператору об уточнении (обновлении, изменении) своих персональных данных.',
        '4.3. Лица, передавшие Оператору недостоверные сведения о себе, либо сведения о другом субъекте персональных данных без согласия последнего, несут ответственность в соответствии с законодательством РФ.'
      ]
    },
    {
      title: '5. Оператор может обрабатывать следующие персональные данные Пользователя',
      txt: [
        '5.1. Фамилия, имя, отчество.',
        '5.2. Электронный адрес.',
        '5.3. Номера телефонов.',
        '5.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).',
        '5.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.',
        '5.6. Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, интимной жизни, Оператором не осуществляется.',
        '5.7. Обработка персональных данных, разрешенных для распространения, из числа специальных категорий персональных данных, указанных в ч. 1 ст. 10 Закона о персональных данных, допускается, если соблюдаются запреты и условия, предусмотренные ст. 10.1 Закона о персональных данных.',
        '5.8. Согласие Пользователя на обработку персональных данных, разрешенных для распространения, оформляется отдельно от других согласий на обработку его персональных данных. При этом соблюдаются условия, предусмотренные, в частности, ст. 10.1 Закона о персональных данных. Требования к содержанию такого согласия устанавливаются уполномоченным органом по защите прав субъектов персональных данных.',
        '5.8.1 Согласие на обработку персональных данных, разрешенных для распространения, Пользователь предоставляет Оператору непосредственно.',
        '5.8.2 Оператор обязан в срок не позднее трех рабочих дней с момента получения указанного согласия Пользователя опубликовать информацию об условиях обработки, о наличии запретов и условий на обработку неограниченным кругом лиц персональных данных, разрешенных для распространения.',
        '5.8.3 Передача (распространение, предоставление, доступ) персональных данных, разрешенных субъектом персональных данных для распространения, должна быть прекращена в любое время по требованию субъекта персональных данных. Данное требование должно включать в себя фамилию, имя, отчество (при наличии), контактную информацию (номер телефона, адрес электронной почты или почтовый адрес) субъекта персональных данных, а также перечень персональных данных, обработка которых подлежит прекращению. Указанные в данном требовании персональные данные могут обрабатываться только Оператором, которому оно направлено.',
        '5.8.4 Согласие на обработку персональных данных, разрешенных для распространения, прекращает свое действие с момента поступления Оператору требования, указанного в п. 5.8.3 настоящей Политики в отношении обработки персональных данных.',
      ]
    },
    {
      title: '5. Оператор может обрабатывать следующие персональные данные Пользователя',
      txt: [
        '5.1. Фамилия, имя, отчество.',
        '5.2. Электронный адрес.',
        '5.3. Номера телефонов.',
        '5.4. Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).',
        '5.5. Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.',
        '5.6. Обработка специальных категорий персональных данных, касающихся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, интимной жизни, Оператором не осуществляется.',
        '5.7. Обработка персональных данных, разрешенных для распространения, из числа специальных категорий персональных данных, указанных в ч. 1 ст. 10 Закона о персональных данных, допускается, если соблюдаются запреты и условия, предусмотренные ст. 10.1 Закона о персональных данных.',
        '5.8. Согласие Пользователя на обработку персональных данных, разрешенных для распространения, оформляется отдельно от других согласий на обработку его персональных данных. При этом соблюдаются условия, предусмотренные, в частности, ст. 10.1 Закона о персональных данных. Требования к содержанию такого согласия устанавливаются уполномоченным органом по защите прав субъектов персональных данных.',
        '5.8.1 Согласие на обработку персональных данных, разрешенных для распространения, Пользователь предоставляет Оператору непосредственно.',
        '5.8.2 Оператор обязан в срок не позднее трех рабочих дней с момента получения указанного согласия Пользователя опубликовать информацию об условиях обработки, о наличии запретов и условий на обработку неограниченным кругом лиц персональных данных, разрешенных для распространения.',
        '5.8.3 Передача (распространение, предоставление, доступ) персональных данных, разрешенных субъектом персональных данных для распространения, должна быть прекращена в любое время по требованию субъекта персональных данных. Данное требование должно включать в себя фамилию, имя, отчество (при наличии), контактную информацию (номер телефона, адрес электронной почты или почтовый адрес) субъекта персональных данных, а также перечень персональных данных, обработка которых подлежит прекращению. Указанные в данном требовании персональные данные могут обрабатываться только Оператором, которому оно направлено.',
        '5.8.4 Согласие на обработку персональных данных, разрешенных для распространения, прекращает свое действие с момента поступления Оператору требования, указанного в п. 5.8.3 настоящей Политики в отношении обработки персональных данных.',
      ]
    },
    {
      title: '6. Принципы обработки персональных данных',
      txt: [
        '6.1. Обработка персональных данных осуществляется на законной и справедливой основе.',
        '6.2. Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.',
        '6.3. Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.',
        '6.4. Обработке подлежат только персональные данные, которые отвечают целям их обработки.',
        '6.5. Содержание и объем обрабатываемых персональных данных соответствуют заявленным целям обработки. Не допускается избыточность обрабатываемых персональных данных по отношению к заявленным целям их обработки.',
        '6.6. При обработке персональных данных обеспечивается точность персональных данных, их достаточность, а в необходимых случаях и актуальность по отношению к целям обработки персональных данных. Оператор принимает необходимые меры и/или обеспечивает их принятие по удалению или уточнению неполных или неточных данных.',
        '6.7. Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных. Обрабатываемые персональные данные уничтожаются либо обезличиваются по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено федеральным законом.',
      ]
    },
    {
      title: '7. Цели обработки персональных данных',
      txt: [
        '7.1. Цель обработки персональных данных Пользователя:',
        '– информирование Пользователя посредством отправки электронных писем;',
        '– предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте https://mz.sotrans.ru',
        '7.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты support@sotrans.ru с пометкой «Отказ от уведомлений о новых продуктах и услугах и специальных предложениях».',
        '7.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.'
      ]
    },
    {
      title: '8. Правовые основания обработки персональных данных',
      txt: [
        '8.1. Правовыми основаниями обработки персональных данных Оператором являются:',
        '– уставные (учредительные) документы Оператора;',
        '– федеральные законы, иные нормативно-правовые акты в сфере защиты персональных данных;',
        '– согласия Пользователей на обработку их персональных данных, на обработку персональных данных, разрешенных для распространения.',
        '8.2. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://mz.sotrans.ru или направленные Оператору посредством электронной почты. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.',
        '8.3. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).',
        '8.4. Субъект персональных данных самостоятельно принимает решение о предоставлении его персональных данных и дает согласие свободно, своей волей и в своем интересе.',
      ]
    },
    {
      title: '9. Условия обработки персональных данных',
      txt: [
        '9.1. Обработка персональных данных осуществляется с согласия субъекта персональных данных на обработку его персональных данных.',
        '9.2. Обработка персональных данных необходима для достижения целей, предусмотренных международным договором Российской Федерации или законом, для осуществления возложенных законодательством Российской Федерации на оператора функций, полномочий и обязанностей.',
        '9.3. Обработка персональных данных необходима для осуществления правосудия, исполнения судебного акта, акта другого органа или должностного лица, подлежащих исполнению в соответствии с законодательством Российской Федерации об исполнительном производстве.',
        '9.4. Обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем, по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем.',
        '9.5. Обработка персональных данных необходима для осуществления прав и законных интересов оператора или третьих лиц либо для достижения общественно значимых целей при условии, что при этом не нарушаются права и свободы субъекта персональных данных.',
        '9.6. Осуществляется обработка персональных данных, доступ неограниченного круга лиц к которым предоставлен субъектом персональных данных либо по его просьбе (далее – общедоступные персональные данные).',
        '9.7. Осуществляется обработка персональных данных, подлежащих опубликованию или обязательному раскрытию в соответствии с федеральным законом.'
      ]
    },
    {
      title: '10. Порядок сбора, хранения, передачи и других видов обработки персональных данных',
      txt: [
        'Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.',
        '10.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.',
        '10.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства либо в случае, если субъектом персональных данных дано согласие Оператору на передачу данных третьему лицу для исполнения обязательств по гражданско-правовому договору.',
        '10.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора support@sotrans.ru с пометкой «Актуализация персональных данных».',
        '10.4. Срок обработки персональных данных определяется достижением целей, для которых были собраны персональные данные, если иной срок не предусмотрен договором или действующим законодательством. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора support@sotrans.ru с пометкой «Отзыв согласия на обработку персональных данных».',
        '10.5. Вся информация, которая собирается сторонними сервисами, в том числе платежными системами, средствами связи и другими поставщиками услуг, хранится и обрабатывается указанными лицами (Операторами) в соответствии с их Пользовательским соглашением и Политикой конфиденциальности. Субъект персональных данных и/или Пользователь обязан самостоятельно своевременно ознакомиться с указанными документами. Оператор не несет ответственность за действия третьих лиц, в том числе указанных в настоящем пункте поставщиков услуг.',
        '10.6. Установленные субъектом персональных данных запреты на передачу (кроме предоставления доступа), а также на обработку или условия обработки (кроме получения доступа) персональных данных, разрешенных для распространения, не действуют в случаях обработки персональных данных в государственных, общественных и иных публичных интересах, определенных законодательством РФ.',
        '10.7. Оператор при обработке персональных данных обеспечивает конфиденциальность персональных данных.',
        '10.8. Оператор осуществляет хранение персональных данных в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если срок хранения персональных данных не установлен федеральным законом, договором, стороной которого, выгодоприобретателем или поручителем по которому является субъект персональных данных.',
        '10.9. Условием прекращения обработки персональных данных может являться достижение целей обработки персональных данных, истечение срока действия согласия субъекта персональных данных или отзыв согласия субъектом персональных данных, а также выявление неправомерной обработки персональных данных.'
      ]
    },
    {
      title: '11. Перечень действий, производимых Оператором с полученными персональными данными',
      txt: [
        '11.1. Оператор осуществляет сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление и уничтожение персональных данных.,',
        '11.2. Оператор осуществляет автоматизированную обработку персональных данных с получением и/или передачей полученной информации по информационно-телекоммуникационным сетям или без таковой.'
      ]
    },
    {
      title: '12. Трансграничная передача персональных данных',
      txt: [
        '12.1. Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.',
        '12.2. Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.'
      ]
    },
    {
      title: '13. Конфиденциальность персональных данных',
      txt: [
        'Оператор и иные лица, получившие доступ к персональным данным, обязаны не раскрывать третьим лицам и не распространять персональные данные без согласия субъекта персональных данных, если иное не предусмотрено федеральным законом.'
      ]
    },
    {
      title: '14. Заключительные положения',
      txt: [
        '14.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты support@sotrans.ru.',
        '14.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.',
        '14.3. Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://mz.sotrans.ru/privacy.'
      ]
    }
  ]
