@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *
@use '../abstracts/extends' as *

html
  scroll-behavior: smooth
  min-height: 100vh

body
  margin: 0 auto
  min-height: 100vh
  display: flex
  flex-direction: column
  +font(18px, 28px)
  position: relative
  background-color: $white
  color: $black
  +screen($tablet)
    +font(16px, 26px)

  &.loaded_hiding
    .preloader
      transition: .3s opacity
      opacity: 0

  &.loaded
    .preloader
      display: none

.body_fix
  overflow: hidden

.container
  position: relative
  width: 100%
  max-width: 1440px
  box-sizing: border-box
  padding: 0 50px
  margin: 0 auto
  +screen(1400)
    padding: 0 30px
  +screen($tablet)
    padding: 0 20px

  &_sm
    max-width: 750px
    +screen(1400)
      max-width: 710px
    +screen($tablet)
      max-width: 690px

a
  text-decoration: none
  display: block
  color: $black
  transition: color .3s, opacity .3s, background-color .3s
  outline: none

h1, h2, h3, h4, p
  margin: 0

button
  appearance: none
  border: none
  cursor: pointer
  padding: 0
  background: transparent
  transition: .3s
  box-sizing: border-box

svg
  path, circle, rect
    transition: .3s

ul
  padding: 0
  margin: 0

  li
    list-style-type: none

input, textarea
  border-radius: 4px
  border: none
  appearance: none
  outline: none
  width: 100%
  height: 100%
  background: transparent
  box-sizing: border-box
  padding: 0 12px

  &::placeholder
    color: $black

textarea
  resize: none
  border: 1px solid rgba($gray-darkest, .5)
  height: 132px
  padding: 12px

input:not([type="checkbox"], #search, #search-mobile)
  height: 44px
  border: 1px solid rgba($gray-darkest, .5)
  +font(14px, 16px, 350)
  border-radius: 4px

input[type="checkbox"], input[type="radio"]
  display: none

input[type="checkbox"] + label
  position: relative
  box-sizing: border-box

  &:before
    content: ''
    position: absolute
    top: 49%
    transform: translateY(-51%)
    left: -36px
    width: 24px
    height: 24px
    box-sizing: border-box
    border-radius: 2px
    margin-top: 1px
    cursor: pointer
    background-color: $white

input[type="checkbox"]:checked + label
  &:before
    background: $white url(../assets/img/contacts/check.svg) center/14px 14px no-repeat

.section
  &-title
    +font(40px, 52px, 700, $font-title)
    +screen($tablet)
      +font(28px, 30px, 700, $font-title)

    &_white
      color: $white

    &_sm
      +font(26px, 28px, 700)
      +screen($tablet)
        +font(20px, 24px, 700)

.image-overlay
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: $image-mask
  z-index: 1
  +screen($tablet)
    background: $image-mask-mob

.more-link
  color: $blue-second
  position: relative
  +font(16px, 18px, 500)

  &:after
    content: ''
    width: 100%
    height: 1px
    background-color: $blue
    position: absolute
    bottom: 0
    left: 0

.section
  &-top
    display: flex
    justify-content: space-between
    align-items: center
    +screen($tablet)
      flex-direction: column
      align-items: flex-start

    .more-link
      +screen($tablet)
        display: none

  &-bottom
    margin-top: 33px
    display: flex
    justify-content: center
    align-items: center

    .more-link
      display: none
      +screen($tablet)
        display: block

.btn
  border-radius: 4px
  box-sizing: border-box
  display: flex
  align-items: center
  justify-content: center
  height: 36px

  &_orange
    width: 230px
    height: 50px
    color: $white
    transition: background-color .3s, box-shadow .3s
    background-color: $orange
    box-shadow: 0 6px 13px rgba(0, 0, 0, .3)
    +font(16px, 16px, 500)
    +screen($tablet)
      width: 183px
      height: 46px

    &:hover:not(:active)
      background-color: lighten($orange, 10%)
      box-shadow: 0 5px 9px rgba(0, 0, 0, .16)

.contacts-phone,
.contacts-mail
  box-sizing: border-box
  padding-left: 40px
  position: relative
  margin-top: 35px
  +font(24px, 28px)
  @extend %blue-click

  span
    +screen($tablet-xs)
      display: block

  &:before
    content: ''
    position: absolute
    left: 0
    top: 50%
    transform: translateY(-50%)
    height: 24px
    width: 24px

.swiper
  &-slide
    user-select: none

.slide-right, .slide-up, .slide-left
  opacity: 0

